body
{
	text-align: center;
	color: black;
	margin-top: 1em
	background-image: url("css16//img/help.PNG");
}

div
{
	background-color: #800000;
	text-align: left;
}

p
{
	font-size: 
}